.bg-gradient {
  background: url(/assets/icons/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.logo h1 {
  margin: 0px;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo span {
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #CDCDCD;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  gap: 35px;
}
.nav li:hover {
  cursor: pointer;
  color: #FAFAFA;
}
.nav .active {
  border-bottom: solid 3px #F1CDB3;
  color: #FAFAFA;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  gap: 42px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 163px;
}
.hero-text h2 {
  margin: 0px;
  color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
.hero-text p {
  margin: 0px;
  color: #CDCDCD;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.hero-text a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  background-color: #F1CDB3;
  padding: 15px 45px;
  bottom: 0px;
}
.hero-text a:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px 100px 0px;
}
.section-about div {
  width: 430px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-about h3 {
  margin: 14px 0 0 0;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.section-about p {
  margin: 0px;
  color: #4C4C4C;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.bg-grey {
  background-color: #F6F6F6;
}

.section-friends {
  padding: 80px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.section-friends h3 {
  margin: 0px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background: transparent;
  border-radius: 100px;
}
.slider button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slider .arrow-rigth {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.cards .card {
  height: 435px;
  width: 270px;
  left: 465px;
  top: 0px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.cards span {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.cards a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  padding: 13px 42px;
  border: solid 2px #F1CDB3;
}
.cards a:hover {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-friends {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #F1CDB3;
}
.btn-friends:hover {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.section-help {
  padding: 80px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.section-help h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  width: 308px;
  height: 90px;
  margin: 0px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 55px 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: auto;
  gap: 30px;
}
.grid h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
}

.section-donat {
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px 100px 0px;
  gap: 30px;
}
.section-donat div {
  height: 282px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-donat h3 {
  margin: 0px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.section-donat h5 {
  margin: 0px;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.section-donat a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px;
  text-decoration: none;
}
.section-donat a:hover {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-donat a h4 {
  margin: 0 0 0 15px;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.section-donat p {
  margin: 0px;
  color: #B2B2B2;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.bg-gradient-footer {
  background: url(/assets/icons/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 40px;
  gap: 160px;
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 60px;
}
footer h3 {
  margin: 0px;
  color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 278px;
}
footer a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
footer a h4 {
  margin: 0px;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}