html {
  scroll-behavior: smooth;
}

.bg-white {
  background-color: #FFFFFF;
  position: sticky;
  top: 0px;
}

.wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.logo h1 {
  margin: 0px;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo span {
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #545454;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  gap: 35px;
}
.nav a {
  text-decoration: none;
  color: #545454;
}
.nav a:hover {
  cursor: pointer;
  color: #292929;
}
.nav .active {
  border-bottom: solid 3px #F1CDB3;
  color: #545454;
}

.bg-grey {
  background-color: #F6F6F6;
}

.section-friends {
  padding: 80px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.section-friends h3 {
  margin: 0px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards .card {
  height: 435px;
  width: 270px;
  left: 465px;
  top: 0px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.cards .card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
.cards .card:hover a {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: solid 2px #FDDCC4;
}
.cards span {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.cards a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  padding: 13px 42px;
  border: solid 2px #F1CDB3;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.btns button {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
}
.btns button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.btns .number {
  background-color: #F1CDB3;
}
.btns .none {
  background-color: transparent;
  border: 2px solid #CDCDCD;
}
.btns .none:hover {
  cursor: default;
  background-color: transparent;
  border: 2px solid #CDCDCD;
}

.bg-gradient-footer {
  background: url(/assets/icons/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 40px;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}
footer h3 {
  margin: 0px;
  color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 278px;
}
footer a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-decoration: none;
}
footer a h4 {
  margin: 0px;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

@media (max-width: 1279px) {
  footer {
    padding-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -webkit-column-gap: normal;
       -moz-column-gap: normal;
            column-gap: normal;
    row-gap: 65px;
  }
  footer div {
    margin: 0px;
  }
  footer div:first-child {
    gap: 40px;
  }
  footer div:nth-child(2) {
    gap: 33px;
    width: 302px;
  }
}